
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";

@import "./sidebar.scss";
@import "./navbarAdmin.scss";
@import "./dashboard.scss";
@import "./users.scss";
@import "./addUser.scss";
@import "./brands.scss";
@import "./products.scss";
@import "./widget.scss";
@import "./featured.scss";


:root{
    --box-shadow:2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
section{
    margin-left: 250px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
body{
    min-height: 100vh;
}
